.hero {
    background-color: gray;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-page {
    font-family: Times New Roman, sans-serif;
}